#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gallery_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.fetch_error {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3rem;
}
