.art_card {
  width: 350px;
  height: 200px;
  position: relative;

  a {
    text-decoration: none;
    color: hsl(0, 0%, 12%);
  }

  img {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }

  &:hover img {
    opacity: 0.3;
  }

  .header_container {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 350px;
    height: 200px;
    background-color: hsl(0, 0%, 12%);
    transition-duration: 700ms;

    h1 {
      font-size: 0.75rem;
      font-weight: 400;
      color: hsl(180, 5%, 96%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover .header_container {
    opacity: 1;
  }
}
